<!doctype html>
<html lang="ru">
<head>
<meta charset="utf-8">
<title>СИКН WEB</title>

<style>
body{
    font-family:Arial;
    background:#f4f4f4;
    margin:40px;
}
table{
    border-collapse:collapse;
    background:white;
}
td,th{
    border:1px solid #ccc;
    padding:8px;
}
.readonly{
    background:#eee;
}
</style>

</head>
<body>

<h2>Текущее состояние СИКН</h2>

<table>
<tr>
<th>A</th>
<th>B</th>
<th>K Поверка</th>
<th>Состояние</th>
</tr>

<tr>
<td class="readonly">Константа</td>
<td class="readonly">Константа</td>
<td><input></td>
<td>
<select>
<option>СИКН в учетных операциях</option>
<option>СИКН выведена из учетных операций</option>
</select>
</td>
</tr>

</table>

</body>
</html>
